body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: cornflowerblue;
  padding: 2rem;
}

nav a {
  font-size: 1.5rem;
  color: bisque;
  font-weight: bolder;
  padding: 1rem;
}

nav a.selected {
  border: 2px white solid;
}

h1 {
  text-align: center;
}

.postList {
  list-style: none;
}

.postList > li {
  background-color: bisque;
  text-align: center;
  font-size: 1.5rem;
}

p {
  background-color: white;
  text-align: left;
  font-size: 1rem;
  padding: 1rem;
}

.users {
  text-align: center;
  list-style: none;
}

.users > li {
  padding: 1rem;
  font-size: 1.5rem;
}

.details {
  list-style: none;
  text-align: center;
  padding-top: 1rem;
}

.details > li {
  padding: 0.5rem;
  font-size: 1.5rem;
}